@model bit285_assignment1_naps.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = "_Layout";
}

<h1>Password Information</h1>
<fieldset>
	<form asp-controller="Naps" asp-action="Password_info" method="post">
		<div>
			<label asp-for="LastName">Last Name</label>
			<input asp-for="LastName" />
			<span>* required</span>
		</div>
		<div>
			<label asp-for="Birthyr">Birth year</label>
			<input asp-for="Birthyr"  />
			<span asp-validation-for="Birthyr">* required</span>
		</div>
		<div>
			<label asp-for="FavColor">Favorite Color</label>
			<input asp-for="FavColor" />
			<span asp-validation-for="FavColor">* required</span>
		</div>
		@*The below was the temporary way I got the User data to transition from page to page*@
		<input asp-for="FirstName" />
		<input asp-for="Program" />
		<input asp-for="EmailAdd" />


		<div>
			<input type="submit" value="Suggest Password" />
			<input type="button" value="Reset" />
		</div>
	</form>
</fieldset>