@model bit285_assignment1_naps.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject bit285_assignment1_naps.Models.PasswordSuggestionService Password
@{
	Layout = "_Layout";
}



<h1>Choose a Password</h1>
<fieldset>
	<form asp-controller="Naps" asp-action="Select_password" method="post">
		<div>
			@*As with the other page the extra input was a temporary way to pass the data from page to page
				I continue to have issues otherwise*@
			<input asp-for="FirstName" />
			<input asp-for="Program" />
			<input asp-for="EmailAdd" />
			<input asp-for="LastName" />
			<input asp-for="Birthyr" />
			<input asp-for="FavColor" />
			@
			@
			
			<label>Possible Passwords</label>
			<input value="@Password.generatePassword()"/> @*Working on implementing the password generate service*@
		</div>
		<div>
			<input type="submit" value="Create Account" />
			<input type="button" value="Reset" />
		</div>
	</form>
</fieldset>